{% extends "layout.html" %}
{% block content %}
<div class="groups-list">
    <ul>
        {% for group in groups %}
            <li>
                <a href="#" onclick="loadParks('{{ group.id }}')">{{ group.name }}</a>
                <p>{{ group.description }}</p>  
                <div id="group-{{ group.id }}" class="group-parks" style="display: none;"></div>
            </li>
        {% endfor %}
    </ul>
</div>

<script src="{{ url_for('static', filename='scripts.js') }}"></script>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class=" {{ category }} ">
        {{ message }}
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if session.user_role == 2 %} 
<div class="add-group-form">
    <h3>Lisää uusi ryhmä</h3>
    <form action="/add-group" method="post">
        <label for="name">Ryhmän nimi:</label>
        <input type="text" id="name" name="name" value="{{ name if name else '' }}" required>

        <label for="description">Kuvaus:</label>
        <textarea id="description" name="description" required>{{ description if description else '' }}</textarea>
        <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
        <input type="submit" value="Lisää ryhmä">
    </form>
</div>
<div class="add-park-to-group-form">
    <h3>Lisää puisto ryhmään</h3>
    <form action="/add-park-to-group" method="post">
        <label for="park_id">Valitse puisto:</label>
        <select id="park_id" name="park_id">
            {% for park in parks %}
                <option value="{{ park.id }}">{{ park.name }}</option>
            {% endfor %}
        </select>
        <label for="group_id">Valitse ryhmä:</label>
        <select id="group_id" name="group_id">
            {% for group in groups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
        <button type="submit">Lisää puisto ryhmään</button>
    </form>
</div>
{% endif %}
{% endblock %}