{% extends "layout.html" %}
{% block content %}


{% if session.user_id %}
<p>Olet kirjautunut nimellä {{ session.user_name }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<p>Kirjaudu sisään</p>
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
<p>Eikö sinulla ole vielä tiliä? <a href="/register">Luo tili</a>.</p>
{% endif %}

<h3> Etsi koirapuisto </h3>

{% include 'map.html' %}

<h4>Hae ominaisuuksien perusteella</h4>

<form action="/" method="post">
    <input type="checkbox" name="has_separate_areas" value="true"> Erilliset aitaukset pienille ja isoille koirille<br>
    <input type="checkbox" name="has_entrance_area" value="true"> Aitauksessa on eteinen<br>
    <input type="checkbox" name="has_beach" value="true"> Aitauksessa on koirien uimaranta<br>
    <input type="submit" value="Etsi">
</form>

{% if search_results %}
        <h4>Hakutulokset</h4>
        <ul>
            {% for park in search_results %}
                <li>{{ park['name'] }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}