<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7f23458fa64e0bdf39e84f303e011bd0 {
                    position: relative;
                    width: 100.0%;
                    height: 600.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_7f23458fa64e0bdf39e84f303e011bd0" ></div>
        
</body>
<script>
    
    
            var map_7f23458fa64e0bdf39e84f303e011bd0 = L.map(
                "map_7f23458fa64e0bdf39e84f303e011bd0",
                {
                    center: [60.1799, 24.9384],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_87126f77aea1f15b0f1eabacc5b84aaf = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_87126f77aea1f15b0f1eabacc5b84aaf.addTo(map_7f23458fa64e0bdf39e84f303e011bd0);
        
    
            var marker_2511a364b39074ac7e58dfd184a895bc = L.marker(
                [60.173264, 24.967426],
                {}
            ).addTo(map_7f23458fa64e0bdf39e84f303e011bd0);
        
    
        var popup_3fae736be87f4d1d18a6c8ab7c5dfb24 = L.popup({"maxWidth": "100%"});

        
            
                var html_351d099a29b5c83381a6ae2df8667e53 = $(`<div id="html_351d099a29b5c83381a6ae2df8667e53" style="width: 100.0%; height: 100.0%;"><a href='/park/1'>Tervasaaren koira-aitaus</a></div>`)[0];
                popup_3fae736be87f4d1d18a6c8ab7c5dfb24.setContent(html_351d099a29b5c83381a6ae2df8667e53);
            
        

        marker_2511a364b39074ac7e58dfd184a895bc.bindPopup(popup_3fae736be87f4d1d18a6c8ab7c5dfb24)
        ;

        
    
    
            var marker_8571589f09fe3edf663a72fa39f002da = L.marker(
                [60.180702, 24.939562],
                {}
            ).addTo(map_7f23458fa64e0bdf39e84f303e011bd0);
        
    
        var popup_3de861a23e21b3bec523a3ca64063864 = L.popup({"maxWidth": "100%"});

        
            
                var html_5587aa253d73fde06e9f77256559cd57 = $(`<div id="html_5587aa253d73fde06e9f77256559cd57" style="width: 100.0%; height: 100.0%;"><a href='/park/2'>Tokoinrannan koira-aitaus</a></div>`)[0];
                popup_3de861a23e21b3bec523a3ca64063864.setContent(html_5587aa253d73fde06e9f77256559cd57);
            
        

        marker_8571589f09fe3edf663a72fa39f002da.bindPopup(popup_3de861a23e21b3bec523a3ca64063864)
        ;

        
    
    
            var marker_28dfa4dcdd0d68ebdacd18e47aa10a21 = L.marker(
                [60.185356, 24.958001],
                {}
            ).addTo(map_7f23458fa64e0bdf39e84f303e011bd0);
        
    
        var popup_dd3d13fe903c1e8c3eee45c9de2f873f = L.popup({"maxWidth": "100%"});

        
            
                var html_1915c6abdedf218f79991da987a4771e = $(`<div id="html_1915c6abdedf218f79991da987a4771e" style="width: 100.0%; height: 100.0%;"><a href='/park/3'>Pengerpuiston koira-aitaus</a></div>`)[0];
                popup_dd3d13fe903c1e8c3eee45c9de2f873f.setContent(html_1915c6abdedf218f79991da987a4771e);
            
        

        marker_28dfa4dcdd0d68ebdacd18e47aa10a21.bindPopup(popup_dd3d13fe903c1e8c3eee45c9de2f873f)
        ;

        
    
    
            var marker_deb86fbd5e50cab47d99ba1c06adb880 = L.marker(
                [60.181968, 24.905033],
                {}
            ).addTo(map_7f23458fa64e0bdf39e84f303e011bd0);
        
    
        var popup_7ad273cda1337634fda46c2a8db6c03a = L.popup({"maxWidth": "100%"});

        
            
                var html_488e0b34787f8997c51a67e42adf25c8 = $(`<div id="html_488e0b34787f8997c51a67e42adf25c8" style="width: 100.0%; height: 100.0%;"><a href='/park/8'>Rajasaaren koira-aitaus</a></div>`)[0];
                popup_7ad273cda1337634fda46c2a8db6c03a.setContent(html_488e0b34787f8997c51a67e42adf25c8);
            
        

        marker_deb86fbd5e50cab47d99ba1c06adb880.bindPopup(popup_7ad273cda1337634fda46c2a8db6c03a)
        ;

        
    
    
            var marker_e0a19d0d74d2d9c8ebe14bf1621957ec = L.marker(
                [60.181149, 24.985516],
                {}
            ).addTo(map_7f23458fa64e0bdf39e84f303e011bd0);
        
    
        var popup_aca43118de714f4db82d1bc65c86bf28 = L.popup({"maxWidth": "100%"});

        
            
                var html_eaecd13bbe6285c4f4a38a51b9720484 = $(`<div id="html_eaecd13bbe6285c4f4a38a51b9720484" style="width: 100.0%; height: 100.0%;"><a href='/park/7'>Mustikkamaan koira-aitaus</a></div>`)[0];
                popup_aca43118de714f4db82d1bc65c86bf28.setContent(html_eaecd13bbe6285c4f4a38a51b9720484);
            
        

        marker_e0a19d0d74d2d9c8ebe14bf1621957ec.bindPopup(popup_aca43118de714f4db82d1bc65c86bf28)
        ;

        
    
    
            var marker_6e94d7f11b695ea28d2c9487bba571eb = L.marker(
                [60.189745, 24.949039],
                {}
            ).addTo(map_7f23458fa64e0bdf39e84f303e011bd0);
        
    
        var popup_494684832398b8e9e52188b24346480b = L.popup({"maxWidth": "100%"});

        
            
                var html_3198b854b88b2e7a2276c7393d906547 = $(`<div id="html_3198b854b88b2e7a2276c7393d906547" style="width: 100.0%; height: 100.0%;"><a href='/park/4'>Brahenpuistikon koira-aitaus</a></div>`)[0];
                popup_494684832398b8e9e52188b24346480b.setContent(html_3198b854b88b2e7a2276c7393d906547);
            
        

        marker_6e94d7f11b695ea28d2c9487bba571eb.bindPopup(popup_494684832398b8e9e52188b24346480b)
        ;

        
    
    
            var marker_c99b0f526f33e21099bc8ccdf0684e67 = L.marker(
                [60.18305, 24.963985],
                {}
            ).addTo(map_7f23458fa64e0bdf39e84f303e011bd0);
        
    
        var popup_7d65df6d709b3595b3b9dd6833d3b13a = L.popup({"maxWidth": "100%"});

        
            
                var html_38db724a894bed71dc8cb571ef433efa = $(`<div id="html_38db724a894bed71dc8cb571ef433efa" style="width: 100.0%; height: 100.0%;"><a href='/park/5'>Väinö Vähäkallion puiston koira-aitaus</a></div>`)[0];
                popup_7d65df6d709b3595b3b9dd6833d3b13a.setContent(html_38db724a894bed71dc8cb571ef433efa);
            
        

        marker_c99b0f526f33e21099bc8ccdf0684e67.bindPopup(popup_7d65df6d709b3595b3b9dd6833d3b13a)
        ;

        
    
    
            var marker_b29e6124c83c0d745a5b12ec5d9b3f5b = L.marker(
                [60.192129, 24.934546],
                {}
            ).addTo(map_7f23458fa64e0bdf39e84f303e011bd0);
        
    
        var popup_b1b83c7382112ba718ede21795a4935e = L.popup({"maxWidth": "100%"});

        
            
                var html_b9f955b32ea906f768ea9ae8ce3bcd80 = $(`<div id="html_b9f955b32ea906f768ea9ae8ce3bcd80" style="width: 100.0%; height: 100.0%;"><a href='/park/6'>Alppipuiston koira-aitaus</a></div>`)[0];
                popup_b1b83c7382112ba718ede21795a4935e.setContent(html_b9f955b32ea906f768ea9ae8ce3bcd80);
            
        

        marker_b29e6124c83c0d745a5b12ec5d9b3f5b.bindPopup(popup_b1b83c7382112ba718ede21795a4935e)
        ;

        
    
</script>
</html>