{% extends "layout.html" %}
{% block content %}

<div class="container"></div>
<h2>{{ park_info['name'] }}</h2>
<p><strong>Osoite:</strong> {{ park_info['address'] }}</p>

<ul>
  {% for key, value in park_info['features'].items() %}
    {% if key == 'Separate areas for small and big dogs' %}
      <li><strong>Erilliset aitaukset pienille ja isoille koirille:</strong> {{ value }}</li>
    {% elif key == 'Entrance area' %}
      <li><strong>Aitauksessa on eteinen:</strong> {{ value }}</li>
    {% elif key == 'Dog beach' %}
      <li><strong>Koirien uimaranta:</strong> {{ value }}</li>
    {% endif %}
  {% endfor %}
</ul>

{% if session.user_id %}
<h3>Jätä arvio</h3>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div>
      {% for category, message in messages %}
        <div class="{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<form action="/park/{{ park_id }}" method="POST">
  <label for="rating">Arvosana (1-5 tähteä):</label>
  <input type="number" id="rating" name="rating" min="1" max="5" required>
  <label for="comment">Kommentti:</label>
  <textarea id="comment" name="comment" rows="4" cols="50"></textarea>
  <input type="hidden" name="park_id" value="{{ park_id }}">
  <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
  <input type="submit" value="Lähetä arvio">
</form>
{% else %}
<p>Kirjaudu sisään arvion jättämiseksi.</p>
{% endif %}

<h3>Arviot</h3>
<div class="reviews">
  {% for review in review %}
    <div class="review">
      <strong>{{ review.username }}</strong> 
      {% for i in range(review.stars) %}
        <i class="fas fa-star"></i> 
      {% endfor %}
      {% for i in range(5-review.stars) %}
        <i class="far fa-star"></i>
      {% endfor %}
      <div class="comment">{{ review.comment }}</div>
    </div>
  {% endfor %}
</div>


{% endblock %}