{% extends "layout.html" %}
{% block content %}

<h2>Rekisteröinti</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div>
      {% for category, message in messages %}
        <div class="{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<form action="/register" method="post">
    Käyttäjänimi: <br><input type="text" name="username" value="{{ request.form.username if request.form.username else '' }}" minlength="1" maxlength="20" required>
    <p>
    Salasana: <br><input type="password" name="password1" value="{{ request.form.password1 if request.form.password1 else '' }}" required>
    <p>
    Salasana uudestaan: <br><input type="password" name="password2" value="{{ request.form.password2 if request.form.password2 else '' }}" required>
    <p>
    Käyttäjärooli:
    <select name="role">
        <option value="1" {% if request.form.role == '1' %}selected{% endif %}>käyttäjä</option>
        <option value="2" {% if request.form.role == '2' %}selected{% endif %}>ylläpitäjä</option>
    </select>
    <p>
    <input type="submit" value="Luo tunnus">
</form>

<p>
<a href="/login">Palaa takaisin</a>

{% endblock %}